#backtop {
    width: 30px;
    height: 30px;
    color: white;
    background-color: #00CCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border-radius: 2px;
}
#backtop:hover{
    background-color: var(--login-button);
}