        .noidungtintuc-content {
            width: 90%;
            margin: 0 auto;
            padding: 10px 0;
            align-items: center;
        }
        
        .noidungtintuc-title {
            background-color: var(--title_background-color);
            border-radius: 10px;
            /* overflow: hidden; */
            height: 30px;
            line-height: 36px;
            text-align: center;
            color: white;
            font-family: Fester_Bold;
            font-size: 20px;
            margin: 20px 0;
        }
        
        .noidungtintuc-container {
            display: flex;
            flex-direction: row;
        }
        
        .noidungtintuc-container-left {
            width: 1000px;
            background-color: var(--item_background-color);
            border-radius: 10px;
            margin: 20px 20px 20px 0;
        }
        
        .noidungtintuc-container-right {
            width: 30%;
            display: flex;
            flex-direction: column;
        }
        
        .noidungtintuc-container-right-tintucmoi {
            background-color: var(--item_background-color);
            border-radius: 10px;
            margin: 20px 0 20px 20px;
            width: 380px;
        }
        
        .noidungtintuc-container-right-tintucphobien {
            background-color: var(--item_background-color);
            border-radius: 10px;
            margin: 20px 0 20px 20px;
            width: 380px;
        }
        
        h1 {
            font-family: Fester_Bold;
            font-size: 32px;
            margin-top: 20px;
            color: #0C4A6D;
        }
        
        .noidungtintuc-img {
            width: 100%;
        }
        
        h2 {
            font-family: Fester_Bold;
            font-size: 25px;
        }
        
        p {
            font-family: text-regular;
            font-size: 20px;
        }
        
        .noidungtintuc-ul li {
            font-family: text-regular;
            margin: 15px 10px;
        }
        /*Độ lớn khi màn hình 1000px*/
        
        @media screen and (max-width:1000px) {
            .noidungtintuc-container {
                flex-direction: column;
            }
            .noidungtintuc-container-left {
                width: 800px;
            }
            .noidungtintuc-container-right {
                width: 800px;
            }
            .noidungtintuc-container-right-tintucmoi {
                width: 800px;
                margin: 20px 20px 20px 0;
            }
            .noidungtintuc-container-right-tintucphobien {
                width: 800px;
                margin: 20px 20px 20px 0;
            }
        }
        /*Độ lớn khi màn hình 600px*/
        
        @media screen and (max-width:600px) {
            .noidungtintuc-container {
                flex-direction: column;
            }
            .noidungtintuc-container-left {
                width: 430px;
            }
            .noidungtintuc-container-right {
                width: 430px;
            }
            .noidungtintuc-container-right-tintucmoi {
                width: 430px;
                margin: 20px 20px 20px 0;
            }
            .noidungtintuc-container-right-tintucphobien {
                width: 430px;
                margin: 20px 20px 20px 0;
            }
        }